<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

	<h1>All Reviews</h1>
	<ol>
		<li th:each="review : ${reviews}">
			<a th:href="@{/review(id=${review.id})}" th:text="${review.title}" />
		</li>
	</ol>
	
	<h1>With divs: (for demonstration purposes only)</h1>
	<div th:each="review : ${reviews}" class="reviewEntry">
		<a th:href="@{/review(id=${review.id})}" th:text="${review.title}" />
	</div>
</body>
</html>