<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Review of ' + ${selectedReview.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<!--    <p th:text="${selectedReview.id}" />
-->
    <h2><p th:text="'Review of ' + ${selectedReview.title}" /></h2>
    <b><p th:text="'By ' + ${selectedReview.author}" /></b>
    <p th:text="${selectedReview.content}" />
    <br />
    <br />
    <p th:text="'Date of publication: ' + ${selectedReview.date}" />
    <p th:text="'Category: ' + ${selectedReview.category.name}" />
    <br />
    <a href="/all">Click here for a list of all reviews.</a>
</body>
</html>